# dependencies
node_modules
backend/node_modules

# build output
dist
dist-ssr

# env
.env
backend/.env

# logs
*.log
npm-debug.log*

# editor
.DS_Store
.vscode/*
!.vscode/extensions.json
*.local

# prisma
backend/prisma/dev.db
